
     body{
        background-color: rgb(111, 228, 164);
        padding: 3%;
    }

     .descricao{

       font-family: Arial, Helvetica, sans-serif;
       position:absolute;
       top: 36%;
       right: 8%;
       left: 40%;
   }
   .meuNome{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

   }
    .javascript {
      font-size: 20px;
    }

    .sql {
      font-size: 18px;
    }

    .react {
      font-size: 16px;
    }

    .bootstrap {
      font-size: 14px;
    }

    .metoAgil {
      font-size: 12px;
    }

    #foto{
       float: left; 
       height: 280px;
       padding: 10px;
       background-color: cornsilk;
    }

    .image-container{
        height: 300px;
        position: relative;
    }

    ul li:nth-child(odd){
        background-color: aquamarine;
    }

    
   